body{
      background-image: url('/static/images/pattern.png');
      background-repeat: no-repeat;
    }
      div.msg_bbl {
        background-color: #002F2F;
        padding: 5px 10px;
        border-radius: 10px;
        color: #fff;
        margin-bottom: 5px;
      }
      #hk{
      position: fixed;
     top: 200px;
     right: 30px;
      }
      #mk h3{
          font-size:40px;
          color:#417324;
          font-weight: bold;
          width: auto;
            

      }
      