<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Chatbot</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   
  


  </head>
  <body>

    <div class="text-center well" id="mk"><h3>Welcome to Covid-19 Chatbot ,Free to Ask Any Questions </h3></div>

    <div class="container">
      <div class="col-sm-8">
        <div class="no_message bg-dark">
          <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="coronavirus" style="border-radius: 8px;border: 1px solid #ddd;
          border-radius: 4px; margin-top: 10px;
          padding: 10px;margin: 5px;">
          <div class="message_holder" style="bg-primary" ></div>
        </div>
      </div>
      <div class="col-sm-4" id="hk">
        <form action="" method="POST">
          
          <div class="clearfix" style="margin-top: 5px;"></div>
          <input type="text" class="username form-control" placeholder="User Name">
          <div style="padding-top: 5px;"></div>
          <input type="text" class="message form-control" placeholder="Messages">
          <div style="padding-top: 5px;"></div>
          <button type="submit" class="btn alert-info "><span class="glyphicon glyphicon-send"></span> envoyer</button>
        </form>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script>
      var socket = io.connect( 'http://' + document.domain + ':' + location.port )
          // broadcast a message
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()

          socket.emit( 'my eventes', {
            user_name : user_name,
            message : user_input
          } )
          // empty the input field
          $( 'input.message' ).val( '' ).focus()
        } )
      } )

      // capture message
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'img' ).remove()
          $( 'div.message_holder' ).append( '<div class="alert alert-success"><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
          $( 'div.message_holder' ).append( '<div class="alert alert-info"><b style="color: #000">'+msg.bot+'</b> '+msg.answer+'</div>' )
        }
      } )

    </script>
  </body>
</html>
